body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Nunito','Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'nunito', 'Courier New',
    monospace;
}
